{% comment %} {% load static %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %} <link rel="stylesheet" href="{% static 'style.css' %}"> {% endcomment %}
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        header {
            background-color: #f5f5f5;
            padding: 10px;
            text-align: center;
        }

        nav a {
            margin: 0 10px;
            text-decoration: none;
            color: #333;
        }

        footer {
            background-color: #f5f5f5;
            padding: 10px;
            text-align: center;
            margin-top: 20px;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django App</title>
    {% block css %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Monitoring</a>
            <a href="#">Evaluation</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        Django App Footer
    </footer>
</body>
</html>
