{% comment %} {% extends 'base.html' %} {% endcomment %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% block content %}
  <style>
    .film-details {
      display: none;
    }

    .expand-button {
      cursor: pointer;
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
    }

    /* Ajouter un peu d'espace entre les boutons et les détails */
    .film-row {
      margin-bottom: 10px;
    }
  </style>

  <h2>Dashboard</h2>
  <div class="alert alert-success">
    Bienvenue {{ user.username }} !
  </div>
  
  <a href="{% url 'user_app:logout' %}">Déconnexion</a>
  
  <h1>Dashboard</h1>
  <table>
    <thead>
      <tr>
        <th>Titre</th>
        <th>Prediction</th>
        <th>Confiance</th>
      </tr>
    </thead>
    <tbody>
      {% for film in films %}
      <tr class="film-row">
        <td>{{ film.title }}</td>
        <td>{{ film.prediction }}</td>
        <td>{{ film.confiance }}</td>
        <!-- Ajouter le bouton "+" -->
        <td><button class="expand-button">+</button></td>
      </tr>
      <tr class="film-details">
        <td colspan="4"> <!-- Utiliser colspan="4" pour fusionner avec toutes les colonnes -->
          <p><strong>Box Office:</strong> {{ film.box_office }}</p>
          <p><strong>Genre:</strong> {{ film.genre }}</p>
          <p><strong>Actors:</strong> {{ film.actors }}</p>
          <p><strong>Date:</strong> {{ film.date }}</p>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
    $(document).ready(function() {
      $('.expand-button').click(function() {
        const details = $(this).closest('.film-row').next('.film-details');
        details.slideToggle();

        // Changer le texte du bouton en fonction de l'état
        if ($(this).text() === "+") {
          $(this).text("-");
        } else {
          $(this).text("+");
        }
      });
    });
  </script>
{% endblock %}








