{% extends "base.html" %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% block content %}

    <h2>Dashboard</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Title</th>
                <th>Prediction</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                <td>{{ movie.title }}</td>
                <td>{{ movie.Results|first }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}








